version: '3.8'

services:
  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft-server
    restart: unless-stopped
    ports:
      - "25565:25565"
      - "25565:25565/udp"
      - "19132:19132"
      - "19132:19132/udp"
    environment:
      EULA: "TRUE"
      VERSION: "1.21.3"
      TYPE: "PURPUR"
      JVM_FLAGS: "-Xms4G -Xmx4G -XX:+UseG1GC"
      VIEW_DISTANCE: "8"
      SIMULATION_DISTANCE: "4"
      MAX_PLAYERS: "20"
      ENABLE_GEYSER: "true"
      GEYSER_PORT: "19132"
    volumes:
      - minecraft-data:/data
      - ./server/plugins:/plugins
    tty: true
    stdin_open: true

volumes:
  minecraft-data:
